body {
  margin: 0 !important;
  padding: 0 !important;
}
.element {
  height: 100vh;
  background-color: #ededed;
  font-size: 45px;
  display: table;
  width: 100%;

  .content {
    display: table-cell;
    vertical-align: middle;

    .separator {
      border-left: 1px solid;
      border-right: 1px solid;
      height: 100%;
    }
  }
}

.active {
  color:red !important;
}

ul {
  list-style-type: none;

  &.navigation {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);

    li {
      line-height: 30px;
      a {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}